<!DOCTYPE html>
<html>
<head>
    <title>Lawyer User Sign Up</title>
</head>
<body>

<h2>Lawyer User Sign Up Form</h2>

<form action="/lawyer/signup" method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>

    <label for="phoneNumber">Phone Number:</label><br>
    <input type='tel' id='phoneNumber' name='phoneNumber' required/><br>

    <label for='organization'>Organization:</label><br/>
    <input type='text' id='organization' name='organization'/></p>

    <label for='organizationNumber'>Organization Number:</label><br/>
    <input type='text' id='organizationNumber' name='organizationNumber'/></p>

    <label for='major'>Major:</label><br/>
    <input type='text' id='major' name='major'></p>

    <label for='introduce'>Introduce Yourself :</label> </br>
    <textarea id="introduce" name="introduce"> </textarea> </p>

    <input type="submit" value="Submit"/>


</form>

</body>
</html>